:root {
   --main-text-cl: #000000;
   --secondary-text-cl: #808080;
   --typewrite-text-cl: #525050;
   --input-cl:#bbbbbb;
   --hover-text-cl:#FFFFFF;
   --hover-link-cl:#fefefe5a;
   --benefits-card-cl:#F9F9F9;
   --overlay-bg-cl:rgba(0, 0, 0, 0.7);
}