.header{
   width: 230px;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   background-color: grey;
   /* z-index: 3; */
   padding: 60px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.navigation{
   clear: both;
}
.navigationLink{
   display: flex;
   align-items: center;
   color: white;
}
.navigationLink:hover,
.navigationLionk:focus{
 color: white;
}
.text{
   color: black;
   padding: 15px 0;
   font-family: 'Poppins';
   font-weight: 500;
   font-size: 20px;
   line-height: 1.5;
   margin-right: 10px;
   transition: all 350ms ease;
}
.text:hover,
.text:focus{
color: white;
}
/* .socialWrapper{
} */
.socialList{
   display: flex;
   justify-content: space-evenly;
}
.socialLink{
   color: black;
   transition: all 350ms ease;
}
.socialLink:hover,
.socialLink:focus{
   color: white;
}