.about{
  padding-top: 140px;
  &__text{
font-family: 'Poppins';
font-weight: 500;
text-transform: uppercase;
margin-bottom: 4px;
color: grey;
}
  &__name{
font-size: 30px;
font-weight: 800;
}
  &__inner{
    padding-top: 100px;
    display: flex;
}
}
.left{
width: 35%;
  &__bg{
    width: 340px;
    height: 340px;
    border: 10px solid black;
    position: absolute;
    top: 320px;
    left: 490px;
  }
  &__image{
    margin-left: 30px;
    width: 350px;
    height: 350px;
  background-image: url(../../assets/images/meHomeImg.jpg);
  background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
}
.right{
width: 65%;
margin-left: 70px;
&__title{
margin-bottom: 30px;
display: flex;
}
&__name{
display: flex;
justify-content: center;
color: black;
font-size: 20px;
font-weight: 600;
}
&__type {
  display:inline-block;
  vertical-align: bottom;
  & > span {
    display:grid;
    overflow: hidden;
    height:1.7em;
    color: rgb(82, 80, 80);
  }
  & span span {
    width:0%;
        font-size: 20px;
      font-weight: 600;
    max-width:max-content;
    overflow: hidden;
    height:inherit;
    word-break:break-all;
    animation:
      c 0.5s infinite steps(1),  
      t 2s linear infinite alternate,
      m 12s steps(3) infinite;
  }
  & span span:before {
    content:" ";
    display:inline-block;
  }
}
}

@keyframes t{
  90%,100% {width:100%}
}
@keyframes c{
  0%,100%{box-shadow:5px 0 0 #0000}
  50%    {box-shadow:5px 0 0 grey  }
}
@keyframes m{
  100% {transform:translateY(-300%)}
}

.me span {
color: grey;
font-style: italic;
font-weight: 500;
&__text{
font-family: mulish;
    font-size: 16px;
    line-height: 2;
    letter-spacing: .5px;
    word-wrap: break-word;
    font-weight: 400;
}
&__list{
margin: 25px 0px 40px 0px;
display: flex;
flex-wrap: wrap;
}
&__item{
display: flex;
align-items: center;
width: 50%;
margin-bottom: 20px;
}
&__item:nth-child(5){
 margin-bottom: 0px;   
}
&__item:nth-child(6){
 margin-bottom: 0px;   
}
&__item p {
    margin:0 20px 0 15px;
    font-weight: 600;
    color: #000;
}
&__download_link{
    padding: 12px 45px;
    background-color: grey;
    color: white;
    font-family: 'Poppins';
    font-weight: 500;
    border-radius: 5px;
    &:hover,
    &:focus{
    color: grey;
    background-color: white;
    border: 1px solid grey;
box-shadow: -2px -1px 49px -5px rgba(171,165,165,0.75);
-webkit-box-shadow: -2px -1px 49px -5px rgba(171,165,165,0.75);
-moz-box-shadow: -2px -1px 49px -5px rgba(171,165,165,0.75);
}
}
}
.hvrUnderlineFromLeft {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvrUnderlineFromLeft:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  background: grey;
  bottom: 0;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvrUnderlineFromLeft:hover:before, .hvrUnderlineFromLeft:focus:before, .hvrUnderlineFromLeft :active:before {
  right: 0;
}