@import "../../stylesheet/shared.scss";
.header{
   display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--secondary-text-cl);
  height: 85px;
  @include mq(tablet) {
  display: none;
  }
  &__logo{
    margin-right: 5px;
    margin-right: 10px;
    @include mq(mobile){
      margin-right: 20px;
    }
    &_name{
      max-width: 100px;
      @include mq(s-mobile){
        max-width: 140px;
      }
      @include mq(mobile){
        max-width: 180px;
      }
    }
  }
  &__background {
   z-index: 10;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   height: 450px;
   width: 100%;
   background: var(--secondary-text-cl);
   border-bottom-left-radius: 50px;
   border-bottom-right-radius: 50px;
  }

}


.nav {
   padding: 80px 30px;
  clear: both;
   &__link{
   display: flex;
   align-items: center;
   color: var(--main-text-cl);
   padding: 15px 0;
   font-family: 'Poppins';
   font-weight: 500;
   font-size: 20px;
   line-height: 1.5;
   transition: all 350ms ease;
   border-bottom: 2px solid rgba(0, 0, 0, 0.070);
   &_active{
   display: flex;
   align-items: center;
   color: var(--main-text-cl);
   padding: 15px 0;
   font-family: 'Poppins';
   font-weight: 500;
   font-size: 20px;
   line-height: 1.5;
   transition: all 350ms ease;
   color: var(--hover-text-cl);
   border-bottom: 2px solid rgba(254, 254, 254, 0.352);
   & svg {
      margin-left: 10px;
      transition: transform 500ms ease;
      }
   &:last-child{
      border: none;
   }
   }
   & svg {
      margin-left: 10px;
      transition: transform 500ms ease;
   }
   &:focus svg,
   &:hover svg {
      transform: rotate(1turn);
   }
   &:last-child{
      border: none;
   }
   &:hover:last-child,
   &:focus:last-child{
      border: none;
   }
   &:hover,
   &:focus{
      color: var(--hover-text-cl);
      border-bottom: 2px solid rgba(254, 254, 254, 0.352);
      }
   }
}
