@import "../../stylesheet/shared.scss";
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  @include mq(tablet){
    padding: 100px 0px 0px 0px;
  }
&__image{
width: 100px;
height: 100px;
border-radius: 100%;
margin-bottom: 20px;
  @include mq(s-mobile){
  width: 200px;
  height: 200px;
  }
    @include mq(mobile){
  width: 300px;
  height: 300px;
  }
}
&__name{
  text-align: center;
text-transform: uppercase;
font-size: 20px;
font-weight: 800;
font-family: 'Montserrat';
margin-bottom: 20px;
  @include mq(s-mobile){
font-size: 35px;
  }
    @include mq(mobile){
font-size: 40px;
  }
}
&__typewriter{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  @include mq(s-mobile){
  margin-bottom: 20px;
  }
    @include mq(mobile){
  margin-bottom: 30px;
  }
    @include mq(tablet){
  margin-bottom: 80px;
  }
}
&__title{
font-family: 'Fascinate';
font-weight: 400;
font-size: 15px;
  @include mq(s-mobile){
font-size: 25px;
  }
    @include mq(mobile){
font-size: 30px;
  }
}
&__type {
display:inline-block;
vertical-align: bottom;
}

&__type > span {
display:grid;
overflow: hidden;
color: var(--typewrite-text-cl);
height: 20px;
    @include mq(s-mobile){
height: 28px;
  }
    @include mq(mobile){
height: 38px;
  }
}

&__type span span {
width:0%;
font-family: 'Fascinate';
font-weight: 400;
max-width:max-content;
overflow: hidden;
height:inherit;
word-break:break-all;
animation:
  c 0.5s infinite steps(1),
  t 2s linear infinite alternate,
  m 12s steps(3) infinite;
  font-size: 15px;
  @include mq(s-mobile){
  font-size: 25px;
  }
    @include mq(mobile){
font-size: 30px;
  }
}
&__type span span:before {
content:" ";
display:inline-block;
}
}

@keyframes t{
90%,100% {width:100%}
}

@keyframes c{
0%,100%{box-shadow:5px 0 0 var(--main-text-cl)}
50%    {box-shadow:5px 0 0 var(--secondary-text-cl)  }
}

@keyframes m{
100% {transform:translateY(-300%)}
}
