@import "../../stylesheet/shared.scss";
.contact{
	padding: 140px 0px;
&__title{
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 4px;
	color: var(--secondary-text-cl);
}
&__name{
	font-family: 'Poppins';
	font-size: 30px;
	font-weight: 800;
	margin-bottom: 70px;
}
&__text {
	max-width: 520px;
	font-family: mulish;
	font-weight: 500;
	font-size: 18px;
	line-height: 2;
	letter-spacing: .5px;
}
	&__wrapper{
	display: flex;
	margin-top: 40px;
	}
	&__form {
	margin-right: 50px;
	width:520px;
	height:auto;
	overflow:hidden;
	background:var(--hover-text-cl);
	&_input {
	font-family: mulish;
	font-size: 15px;
	margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:2px solid var(--input-cl);
	border-radius:2px;
	display:inline-block;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-transition:0.2s ease all;
	-moz-transition:0.2s ease all;
	-ms-transition:0.2s ease all;
	-o-transition:0.2s ease all;
	transition:0.2s ease all;
	}
	&_input[type=text]:focus,
	&_input[type=text]:hover,
	&_input[type=email]:focus,
	&_input[type=email]:hover,
	&_textarea[type='message']:focus,
	&_textarea[type='message']:hover {
		border-color:var(--secondary-text-cl);
	}
	
	&_textarea {
	font-family: mulish;
	width: 494px;
	margin:15px 0;
	padding:15px 10px;
	outline:none;
	border:2px solid var(--input-cl);
	border-radius:2px;
	display:inline-block;
	resize: none;
	height: 120px;
	font-size: 15px;
	}
	&_btn {
	padding: 12px 45px;
	background-color: var(--secondary-text-cl);
	color: var(--hover-text-cl);
	font-family: 'Poppins';
	font-weight: 500;
	border-radius: 5px;
	border: none;
	margin-top: 10px;
	&:hover,
   &:focus{
      color: grey;
      background-color: var( --hover-text-cl);
      border: 1px solid var(--secondary-text-cl);
}
	}
	}
}
