.contact{
   padding-top: 140px;
}
.mainText{
font-family: 'Poppins';
font-weight: 500;
text-transform: uppercase;
margin-bottom: 4px;
color: grey;
}
.mainName{
font-size: 30px;
font-weight: 800;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
